body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

input{

padding:10px;
margin:10px;

}

button{

padding:10px;
background:#00c853;
border:none;
color:white;

}

.game{

background:#222;
padding:20px;
margin:20px;

}body{

background:#111;
color:white;
font-family:Arial;
text-align:center;

}

input{

padding:10px;
margin:10px;

}

button{

padding:10px;
background:#00c853;
border:none;
color:white;

}

.game{

background:#222;
padding:20px;
margin:20px;

}